body{
    width: 90vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background: radial-gradient(ellipse at top, #089c39, transparent),
            radial-gradient(ellipse at bottom, #000000, transparent);
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: grid;
    place-content: center;
    gap: 20px;
    text-align: center;
    margin: 0vh 25vw;
}

#submit-button{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 30% 45% 60% 75%;
    transition: all .5s;
    padding: 15px 32px;
}

button:hover{
    opacity: .85;
    transform: scale(1.1);
}

button:active{
    opacity: 1;
    transform: scale(1);
}

.main-chat{
    position: absolute;
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 3%;
}
/* 
#chat-history{
    margin-top: 20px;
}

/******************/
/*  Chat Bubbles  */
/******************/

.chat-bubble-container {
    position: relative;
    display: flex;
    margin: 5px;

}

.text-container {
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    width: 80%;   
    z-index: 2;
    padding: 10px;
    margin-bottom: 10px;
}

.text-container.dark-blue {
    left:5px;
    border-left: black solid 2px;
    border-top: black solid 2px;
    border-bottom-left-radius: 0 0;

}

.text-container.dark-green {
    right:5px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
    border-bottom-right-radius: 0 0;
}

/******************************/
/*  Chat Bubble Color Schemes */
/******************************/

.dark-green {
    background-color: darkgreen;
    color: white;
    text-align: right;
    max-width: 50vw;
    box-shadow: 5px 5px 5px rgb(0, 58, 0);
    margin-bottom: 20px;
}

.dark-blue {
    background-color: darkblue;
    color: white;
    text-align: left;
    max-width: 50vw;
    box-shadow: -5px -5px 5px rgb(0, 0, 58);
}
