body{
    width: 90vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background: radial-gradient(ellipse at top, #089c39, transparent),
            radial-gradient(ellipse at bottom, #000000, transparent);
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.main-chat{
    position: absolute;
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 3%;
    width: 50%;
    overflow-x: hidden;
}
/* 
#chat-history{


    
} */

.chat-bubble-span {    
    display: flex;
}

.chat-bubble-container {
    position: relative;
    width: 80%;

    display: flex;
    flex-direction: column;

}

.middle-image-container {
    background-color: blue;
}

.middle-image-container > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.middle-image-container > p {
    padding: 0 5%;
    position: relative;
    z-index: 2;
}

.reply-element{
    color: red;
    text-align: left;
    max-width: 50vw;
}

.message-element{
    color: blue;
    text-align: right;
    max-width: 50vw;
}